<div class="help-container">
    <md-card class="help">
        <md-card-content>
            <h3>Help</h3>
            <h2>Keyboard Shortcuts</h2>
            <div class="shortcut-container">
                <div class="shortcuts">
                    <p class="shortcut">Ctrl + N</p>
                    <p class="shortcut">Ctrl + S</p>
                    <p class="shortcut">Ctrl + H</p>
                    <p class="shortcut">Ctrl + Spacebar</p>
                </div>
                <div class="descriptions">
                    <p class="description">Show note</p>
                    <p class="description">Go to Stats Section</p>
                    <p class="description">Go to Help Section</p>
                    <p class="description">Play/Pause Timer</p>
                </div>
            </div>
            <h2>Issues or Suggestions</h2>
            <p class="issues">If you find any bugs or have a suggestion you can send us a note through</p>
            <p class="issues"><a href="">DE Manila Hub Connect</a>.</p>
        </md-card-content>
    </md-card>
    <div class="about">
        <p>Notupadu v1.0</p>
        <p>Notupadu is a note editor that allows you to take notes but not save them, because HIPAA bitch.</p>
        <p>Designed and developed by:</p>
        <p><a href="">DE Manila</a></p>
        <p>Project By: Seeli Swahili<br/>Designed By: Ferlonicus Tehikartz<br/>Programmed By: Erroneous Dee</p>
        <p>Copyright 2017</p>
    </div>
</div>