<div class="main-app-container">
    <md-toolbar>
        <span class="app-title">NOTUPADU</span>
    </md-toolbar>
    <div class="header-container">
        <tabs-app
            (tabActivated)="onActivateTab($event)"
        ></tabs-app>
        <timer-app
            (timerCleared)="onTimerCleared($event)"
        ></timer-app>
    </div>
    <div class="body-container">
        <md-card class="body-border">
            <md-input-container class="notes-container" *ngIf="activeTab === 'NOTES'">
                <textarea
                    #noteTextarea
                    mdInput
                    mdTextareaAutosize
                    [mdAutosizeMinRows]="3"
                    [(ngModel)]="notes"
                    (copy)="onCutCopy($event)"
                    (cut)="onCutCopy($event)"
                    [readonly]="isReadOnly"

                    class="notes"
                    [placeholder]="notesPlaceholder"></textarea>
            </md-input-container>
            <stats-app *ngIf="activeTab === 'STATS'"></stats-app>
            <help-app *ngIf="activeTab === 'ABOUT'"></help-app>
        </md-card>
    </div>
</div>